profiles/__pycache__
courses/__pycache__
profiles/__pycache__/__init__.cpython-35.pyc
profiles/__pycache__/admin.cpython-35.pyc
profiles/__pycache__/forms.cpython-35.pyc
profiles/__pycache__/models.cpython-35.pyc
profiles/__pycache__/views.cpython-35.pyc
sms/__pycache__/__init__.cpython-35.pyc
sms/__pycache__/settings.cpython-35.pyc
sms/__pycache__/urls.cpython-35.pyc
sms/__pycache__/wsgi.cpython-35.pyc
db.sqlite3
courses/migrations
profiles/migrations
account/migrations
account/migrations/__pycahe__
courses/migrations/__pycahe__
profiles/migrations/__pycahe_
account/migrations/__pycahe__
account/__pycache__/
account/images/
account/student/
account/teacher/

static/assets/img
static/assets/scss
static/assets/demo
