{% extends 'base.html' %}
{% load static %}

{% block index_nav %}
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <i><a class="navbar-brand" href="#">SMS</a></i>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
	{% if form.errors %}
	 <p>Your Email and password didn't match. Please try again</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
    		please login with an account that has access.</p>
    		{% else %}
    		 <p>Please Login to see this page</p>
		{% endif %}
	{% endif %}
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<p>Remeber me <input type="checkbox" name=""></p>
		<input type="submit" name="" value="Submit">
		<input type="hidden" name="next" value="{{ next }}" />

	</form>
{% endblock %} 
